{{! Plantilla AUTOCONTINGUDA per a la Pàgina en Blanc }}
<div class="pagina pagina-blanca">
  <style>
    .pagina-blanca {
      background-color: #F5F1E9;
    }
  </style>
  {{! Intencionadament buida }}
</div>