{{! Plantilla per a una pàgina que només mostra el títol d'una secció }}
<div class="pagina pagina-titol-seccio">
  <style>
    /* Estils ESPECÍFICS per a aquesta plantilla */
    .pagina-titol-seccio {
      display: flex;
      justify-content: center; /* Centra verticalment */
      align-items: center;   /* Centra horitzontalment */
      background-color: #ffffff; /* Fons blanc */
    }
    .pagina-titol-seccio h2 {
      font-family: 'Ramillas', serif;
      font-size: 50px;
      color: #dddddd; /* Un gris molt clar */
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  </style>

  <h2>{{titol}}</h2>
</div>