{{! Plantilla AUTOCONTINGUDA per al Separador }}
<div class="pagina separador">
  <style>
    .separador {
      background-color: #F5F1E9; /* Color crema */
      justify-content: flex-end; /* Empenyem el logo cap avall */
      align-items: center;
      padding: 40px;
    }
    .separador .separador-logo {
      font-family: 'Fontsspring', sans-serif;
      font-size: 130px;
      letter-spacing: -3px;
      width: 100%;
      text-align: center;
    }
  </style>

  <div class="separador-logo">
    {{nomEmpresa}}
  </div>
</div>